
{% extends "base.html" %}

{% block title %}{% endblock %}

{% block menu %}
<a class="navbar-brand padding" href="../">Вхід</a>
<a class="navbar-brand padding" href="../register/">Реєстрація</a>
<a class="navbar-brand padding active_menu" href="../password-reset/">Забули пароль</a>
{% endblock %}


{% block content %}

{% if validlink %}
<form method="post">
    {% csrf_token %}
    <label>New Password:</label>
    <input type="password" name="new_password" required>
    <label>Confirm Password:</label>
    <input type="password" name="confirm_password" required>
    <button type="submit">Reset Password</button>
</form>
{% else %}
<p>The password reset link is invalid or has expired.</p>
{% endif %}
{% endblock %}